<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Work+Sans:think" rel="stylesheet">

<body>
  <div class="header">
    <h1>CSV-JSON Converter</h1>
  </div>
  <div class="container">
    <div class="form">
      <form class="pure-form">
        <fieldset class="pure-group">
          <textarea class="pure-input-1" placeholder="CSV here..."></textarea>
          <button type="submit" class="pure-button pure-input-1 pure-button-primary">Convert</button>
        </fieldset>
      </form>
    </div>
  </div>
</body>
